.typist {
    display: none;
    border-right: 2px solid #fff;
    padding-right: 6px;
    -webkit-animation: example 1s infinite;
    animation: example 1s infinite;
}

@keyframes example {
    0% {border-right-color: transparent;}
    50% {border-right-color: #fff;}
    100% {border-right-color: transparent;}
}